body, button, input, textarea {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 18px;
}

.logo{
    background-size: 410px 396px;
    background-position: 0 -97px;
    background-repeat: no-repeat;
    height: 51px;
    width: 175px;
    margin: 22px auto 20px;
    background-image: url('../logos.png');
    margin-top: 75px;
}

.fb-btn{
    margin: 8px 40px;
    background-color: #3897f0;
    border: 1px solid #3897f0;
    border-radius: 4px;
    color: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    font-weight: 600;
    padding: 5px 9px;
    text-align: center;
    text-transform: inherit;
    text-overflow: ellipsis;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    width: auto;
}

.fb-logo {
    background-size: 410px 396px;
    background-position: -273px -256px;
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    background-image: url('../logos.png');
    display: inline-block;
    margin-right: 5px;
    position: relative;
    top: 3px;
}

.seperator {
    margin: 24px 40px 22px;
    display: flex;
}

.seperator-item {
    background-color: #efefef;
    height: 1px;
    position: relative;
    top: .45em;
    width: 100%;
}

.seperator-text {
    color: #999;
    font-size: 13px;
    font-weight: 600;
    line-height: 15px;
    margin: 0 18px;
    text-transform: uppercase;
}

.form-item {
    margin: 0 40px 6px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #262626;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    font-size: 14px;
    position: relative;
    -webkit-appearance: none;
    border: 1px solid #efefef;
    background: #fafafa;
}

* {
    box-sizing: border-box;
    transition: all 0.1s ease-out;
    outline: none;
  }


.labeled {
    float: left;
    position: relative;
    color: #333;
    margin-bottom: 0px;
    clear: both;
    width: 100%;
  }
  .labeled .float-label {
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 0;
    -webkit-transform-origin: left top 0px;
            transform-origin: left top 0px;
    width: 100%;
    text-align: left;
    font-size: inherit;
  }

  .labeled .inputs:not([type="checkbox"]):not([type="radio"]):not([type="button"]):not([type="submit"]):not([type="reset"]) {
    padding: 8px;
    width: 100%;
    border: none;
    font-size: 12px;
    font-family: inherit;
    background-color: transparent;
    background-image: none;
    color: #333;
  }
  .labeled .inputs:not([type="checkbox"]):not([type="radio"]):not([type="button"]):not([type="submit"]):not([type="reset"]) + .float-label {
    color: #999;
    -webkit-transform: translateY(8px) translateX(8px) scale(1);
            transform: translateY(8px) translateX(8px) scale(1);
            font-size: 12px;
  }
  .labeled .inputs:not([type="checkbox"]):not([type="radio"]):not([type="button"]):not([type="submit"]):not([type="reset"]) + .float-label.active {
    -webkit-transform: translateY(0) translateX(8px) scale(0.78);
            transform: translateY(0) translateX(8px) scale(0.78);
  }
  .labeled .inputs:not([type="checkbox"]):not([type="radio"]):not([type="button"]):not([type="submit"]):not([type="reset"]):focus + .float-label {
    -webkit-transform: translateY(0)  translateX(8px) scale(0.78);
            transform: translateY(0)  translateX(8px) scale(0.78);
  }
  .labeled .inputs:not([type="checkbox"]):not([type="radio"]):not([type="button"]):not([type="submit"]):not([type="reset"]):valid + .float-label {
    -webkit-transform: translateY(0) translateX(8px) scale(0.78);
            transform: translateY(0) translateX(8px) scale(0.78);
  }

  .labeled .inputs:not([type="checkbox"]):not([type="radio"]):not([type="button"]):not([type="submit"]):not([type="reset"]):focus{
      padding-top:12px;
      padding-bottom: 4px;
  }

  .labeled .inputs:not([type="checkbox"]):not([type="radio"]):not([type="button"]):not([type="submit"]):not([type="reset"]):valid {
    padding-top: 12px;
    padding-bottom: 4px;
  }
  .remember-me {
    margin: 20px 40px 6px;
    font-size: 12px;
    padding: 0px 5px;
  }

  .remember-me > input[type="checkbox"] {
    position: relative;
    top: 2px;
    margin-right: 5px;
  }

  .login-btn{
    margin: 15px 40px;
    background-color: #3897f0;
    border: 1px solid #3897f0;
    border-radius: 4px;
    color: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    font-weight: 600;
    padding: 5px 9px;
    text-align: center;
    text-transform: inherit;
    text-overflow: ellipsis;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    width: auto;
  }

  .forgot-password {
    
    font-size: 12px;
    line-height: 14px;
    margin-top: 30px;
    text-align: center;
  }

  .forgot-password a{
    color: #3897f0;
  }

  .bottom-bar {
    background: #fafafa;
    border-top: 1px solid #efefef;
    bottom: 0;
    height: 44px;
    position: fixed;
    width: 100%;
    display: flex;
  }

  .bottom-bar > p{
    color: #999;
    font-size: 14px;
    margin: auto;
    text-align: center;
  }

  .bottom-bar > p > a{
    color: #003569;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
  }